<html>
    <head>
        <title>Żabi Świat</title>
    </head>
    <body>
        <div>
            <h1><a href="">Żabkowy Blog</a></h1>
        </div>

        <div>
          <p>published: 17.05.2017, 14:06</p>
          <h2><a href="">Pierwszy żabi post</a></h2>
          <p>RECH, RECH, Kum, Kum</p>
        </div>

        <div>
          <p>published: 17.05.2017, 14:06</p>
          <h2><a href="">Drugi żabi post</a></h2>
          <p>bebebebebebebebbebebebebebe...</p>
        </div>
    </body>
</html>
